.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  font-size: 14px;
}

.checkbox-container input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-container label {
  cursor: pointer;
}
